<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Any number of buttons may be set to the same function, or no function at all.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Controls</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Button Settings</string>
			<key>File</key>
			<string>Controls</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Move a piece quickly by holding the left or right button. Delay is the amount of time (measured in frames, typically 1/60 second) one needs to hold down a button before autorepeat kicks in, and Shiftign Speed is how fast the piece will move on autorepeat.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Delayed Auto Shift</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Delay</string>
			<key>Values</key>
			<array>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
			</array>
			<key>DefaultValue</key>
			<integer>9</integer>
			<key>Key</key>
			<string>dasValue</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Shifting Speed</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
				<integer>10</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Instant</string>
				<string>100%</string>
				<string>50%</string>
				<string>25%</string>
				<string>10%</string>
			</array>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>dasFrames</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Soft Drop Speed</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Speed</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
				<integer>10</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Instant</string>
				<string>100%</string>
				<string>50%</string>
				<string>25%</string>
				<string>10%</string>
			</array>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>softDropFrames</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>After tapping down on a button, swipe down quickly to perform a hard drop. Setting a lower minimum speed makes it easier to trigger.</string>
			<key>Title</key>
			<string>Swipe Drop</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>swipeDropEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Minimum Swipe Speed</string>
			<key>Values</key>
			<array>
				<integer>400</integer>
				<integer>600</integer>
				<integer>800</integer>
				<integer>1000</integer>
				<integer>1200</integer>
				<integer>1400</integer>
				<integer>1600</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>400</string>
				<string>600</string>
				<string>800</string>
				<string>1000</string>
				<string>1200</string>
				<string>1400</string>
				<string>1600</string>
			</array>
			<key>DefaultValue</key>
			<integer>1000</integer>
			<key>Key</key>
			<string>swipeDownThreshold</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>When a button is tapped down and the finger moves outside of the button, the button will stay pressed. But when LR Swipe is enabled, an exception is made for moving from a Move Left button to a Move Right button and vice versa, and treat the move like a new tap.</string>
			<key>Title</key>
			<string>LR Swipe</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>lrSwipeEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>The ghost piece shows you where the piece will land by hard dropping.  It has a light frame and adjustable 0~50% of the original piece&apos;s color.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Ghost Opacity</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>ghostOpacity</string>
			<key>DefaultValue</key>
			<real>0.25</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide Ghost Completely</string>
			<key>Key</key>
			<string>hideGhost</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>The grid line&apos;s opacity can be set from 0~100%.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Grid Line Opacity</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>gridsOpacity</string>
			<key>DefaultValue</key>
			<real>1</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
